<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raystown Stay N Play</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/aos.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Oswald&display=swap"
    rel="stylesheet">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- MENU BAR -->
  <nav class="navbar navbar-expand-lg sticky-top" id="navbar">
    <div class="container">
      <a class="navbar-brand" id="navbar-brand" href="contact.html">
        <i class="fa fa-anchor"></i>
        Raystown Stay N Play
      </a>
    </div>
  </nav>

</body>

</html>